:root {
  font-size: 18px !important;
}

a.tag[data-ref]{
  font-size: 18px !important;
}

/*Changing tags to have a blue button appearance and be nice and rounded */
.tag{ padding:2px 3px 2px 3px; border:1px #859900 solid;  width:fit-content; border-radius:8px; !important}.content
