:root {
  font-size: 18px !important;
}

a.tag[data-ref]{
  font-size: 18px !important;
}

/*Changing tags to have a blue button appearance and be nice and rounded */
.tag{ padding:0 7px; border-radius:7px; margin:2px 0; color:white !important}.content
