{:highlights [{:id #uuid "653d0b32-65ea-4b8a-a793-1f5f1755565b",
               :page 1,
               :position {:bounding {:x1 457.7072919346392,
                                     :y1 336.4071960449219,
                                     :x2 511.8414166904986,
                                     :y2 344.7751770019531,
                                     :width 608.0000000000001,
                                     :height 859.5860451244458},
                          :rects ({:x1 457.7072919346392,
                                   :y1 336.4071960449219,
                                   :x2 511.8414166904986,
                                   :y2 344.7751770019531,
                                   :width 608.0000000000001,
                                   :height 859.5860451244458}),
                          :page 1},
               :content {:text "EC12E1220301"},
               :properties {:color "yellow"}}
              {:id #uuid "653d0b42-8274-473d-9038-ae572587a9d1",
               :page 1,
               :position {:bounding {:x1 457.7072919346392,
                                     :y1 463.5791320800781,
                                     :x2 511.8414166904986,
                                     :y2 471.9471130371094,
                                     :width 608.0000000000001,
                                     :height 859.5860451244458},
                          :rects ({:x1 457.7072919346392,
                                   :y1 463.5791320800781,
                                   :x2 511.8414166904986,
                                   :y2 471.9471130371094,
                                   :width 608.0000000000001,
                                   :height 859.5860451244458}),
                          :page 1},
               :content {:text "EC12E2420301"},
               :properties {:color "yellow"}}
              {:id #uuid "653d0b51-2a0a-4a88-a322-0f6bc75a67ab",
               :page 1,
               :position {:bounding {:x1 457.7072919346392,
                                     :y1 511.2671203613281,
                                     :x2 511.8414166904986,
                                     :y2 519.6351318359375,
                                     :width 608.0000000000001,
                                     :height 859.5860451244458},
                          :rects ({:x1 457.7072919346392,
                                   :y1 511.2671203613281,
                                   :x2 511.8414166904986,
                                   :y2 519.6351318359375,
                                   :width 608.0000000000001,
                                   :height 859.5860451244458}),
                          :page 1},
               :content {:text nil},
               :properties {:color "yellow"}}
              {:id #uuid "653d0b6e-a436-44e4-977a-41522f6dd82e",
               :page 1,
               :position {:bounding {:x1 538.5581665039062,
                                     :y1 451.31243896484375,
                                     :x2 602.0888366699219,
                                     :y2 461.96258544921875,
                                     :width 715.3869599999999,
                                     :height 1011.40896},
                          :rects ({:x1 538.5581665039062,
                                   :y1 451.31243896484375,
                                   :x2 602.0888366699219,
                                   :y2 461.96258544921875,
                                   :width 715.3869599999999,
                                   :height 1011.40896}),
                          :page 1},
               :content {:text "EC12E1240301"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
