{:highlights [{:id #uuid "653d0bcf-1c38-4f33-8212-ebc3730a8263",
               :page 1,
               :position {:bounding {:x1 602.0769653320312,
                                     :y1 395.197021484375,
                                     :x2 602.0888366699219,
                                     :y2 405.84716796875,
                                     :width 715.3869599999999,
                                     :height 1011.40896},
                          :rects ({:x1 602.0769653320312,
                                   :y1 395.197021484375,
                                   :x2 602.0888366699219,
                                   :y2 405.84716796875,
                                   :width 715.3869599999999,
                                   :height 1011.40896}),
                          :page 1},
               :content {:text nil},
               :properties {:color "yellow"}}
              {:id #uuid "653d0bd7-237e-4e2e-abe6-684c31268bf1",
               :page 1,
               :position {:bounding {:x1 538.5581665039062,
                                     :y1 413.9061279296875,
                                     :x2 602.0888366699219,
                                     :y2 424.5562744140625,
                                     :width 715.3869599999999,
                                     :height 1011.40896},
                          :rects ({:x1 538.5581665039062,
                                   :y1 413.9061279296875,
                                   :x2 602.0888366699219,
                                   :y2 424.5562744140625,
                                   :width 715.3869599999999,
                                   :height 1011.40896}),
                          :page 1},
               :content {:text "EC12E1240405"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
