{:highlights [{:id #uuid "64b2d820-b2ed-4d42-84dd-b44d27c30774",
               :page 5,
               :position {:bounding {:x1 0,
                                     :y1 424.296875,
                                     :x2 625.5398941040039,
                                     :y2 507.8385009765625,
                                     :width 666,
                                     :height 940.8926174496644},
                          :rects ({:x1 0,
                                   :y1 424.296875,
                                   :x2 0,
                                   :y2 442.63018798828125,
                                   :width 666,
                                   :height 940.8926174496644}
                                  {:x1 0,
                                   :y1 441.30206298828125,
                                   :x2 0,
                                   :y2 459.6353759765625,
                                   :width 666,
                                   :height 940.8926174496644}
                                  {:x1 80.45572662353516,
                                   :y1 468.515625,
                                   :x2 624.9936294555664,
                                   :y2 481.015625,
                                   :width 666,
                                   :height 940.8926174496644}
                                  {:x1 80.45572662353516,
                                   :y1 481.92706298828125,
                                   :x2 625.5398941040039,
                                   :y2 494.42706298828125,
                                   :width 666,
                                   :height 940.8926174496644}
                                  {:x1 80.45572662353516,
                                   :y1 495.3385009765625,
                                   :x2 347.17081451416016,
                                   :y2 507.8385009765625,
                                   :width 666,
                                   :height 940.8926174496644}),
                          :page 5},
               :content {:text "The second major rule of PCB design, and the one most often missed by beginners, is to lay out your board on a fixed grid. This is called a “snap grid”, as your cursor, components and tracks will “snap” into fixed grid positions. Not just any size grid mind you, but a fairly coarse one."},
               :properties {:color "yellow"}}
              {:id #uuid "64b2d834-69e0-4682-9d93-d1eb16699c57",
               :page 5,
               :position {:bounding {:x1 0,
                                     :y1 696.3801879882812,
                                     :x2 618.9498901367188,
                                     :y2 726.5755004882812,
                                     :width 666,
                                     :height 940.8926174496644},
                          :rects ({:x1 0,
                                   :y1 696.3801879882812,
                                   :x2 0,
                                   :y2 714.7135009765625,
                                   :width 666,
                                   :height 940.8926174496644}
                                  {:x1 204.67962646484375,
                                   :y1 700.6640625,
                                   :x2 618.9498901367188,
                                   :y2 713.1640625,
                                   :width 666,
                                   :height 940.8926174496644}
                                  {:x1 80.45572662353516,
                                   :y1 714.0755004882812,
                                   :x2 582.7205276489258,
                                   :y2 726.5755004882812,
                                   :width 666,
                                   :height 940.8926174496644}),
                          :page 5},
               :content {:text "This will do 99% of boards. Make sure the finer grid you choose is a nice even division of your standard 100 thou. This means 50, 25, 20, 10, or 5 thou. Don’t use anything else, you’ll regret it."},
               :properties {:color "yellow"}}],
 :extra {:page 5}}
