{:highlights [{:id #uuid "64b2d820-b2ed-4d42-84dd-b44d27c30774",
               :page 5,
               :position {:bounding {:x1 0,
                                     :y1 424.296875,
                                     :x2 625.5398941040039,
                                     :y2 507.8385009765625,
                                     :width 666,
                                     :height 940.8926174496644},
                          :rects ({:x1 0,
                                   :y1 424.296875,
                                   :x2 0,
                                   :y2 442.63018798828125,
                                   :width 666,
                                   :height 940.8926174496644}
                                  {:x1 0,
                                   :y1 441.30206298828125,
                                   :x2 0,
                                   :y2 459.6353759765625,
                                   :width 666,
                                   :height 940.8926174496644}
                                  {:x1 80.45572662353516,
                                   :y1 468.515625,
                                   :x2 624.9936294555664,
                                   :y2 481.015625,
                                   :width 666,
                                   :height 940.8926174496644}
                                  {:x1 80.45572662353516,
                                   :y1 481.92706298828125,
                                   :x2 625.5398941040039,
                                   :y2 494.42706298828125,
                                   :width 666,
                                   :height 940.8926174496644}
                                  {:x1 80.45572662353516,
                                   :y1 495.3385009765625,
                                   :x2 347.17081451416016,
                                   :y2 507.8385009765625,
                                   :width 666,
                                   :height 940.8926174496644}),
                          :page 5},
               :content {:text "The second major rule of PCB design, and the one most often missed by beginners, is to lay out your board on a fixed grid. This is called a “snap grid”, as your cursor, components and tracks will “snap” into fixed grid positions. Not just any size grid mind you, but a fairly coarse one."},
               :properties {:color "yellow"}}
              {:id #uuid "64b2d998-5c3f-4d41-823a-0f6669184866",
               :page 5,
               :position {:bounding {:x1 264.8254089355469,
                                     :y1 235.5208282470703,
                                     :x2 595.1930541992188,
                                     :y2 248.0208282470703,
                                     :width 666,
                                     :height 940.8926174496644},
                          :rects ({:x1 264.8254089355469,
                                   :y1 235.5208282470703,
                                   :x2 595.1930541992188,
                                   :y2 248.0208282470703,
                                   :width 666,
                                   :height 940.8926174496644}),
                          :page 5},
               :content {:text "100 thou (0.1 inch) = 2.54mm, and 200 thou (0.2 inch) = 5.08mm"},
               :properties {:color "yellow"}}
              {:id #uuid "64b2dcc3-d5e3-4b00-aa19-276287d6eeb8",
               :page 5,
               :position {:bounding {:x1 0,
                                     :y1 696.3801651000977,
                                     :x2 780.9349670410156,
                                     :y2 916.9270324707031,
                                     :width 841,
                                     :height 1188.1241610738255},
                          :rects ({:x1 0,
                                   :y1 696.3801651000977,
                                   :x2 0,
                                   :y2 714.7135009765625,
                                   :width 841,
                                   :height 1188.1241610738255}
                                  {:x1 258.2969055175781,
                                   :y1 884.9999389648438,
                                   :x2 780.9349670410156,
                                   :y2 899.9999389648438,
                                   :width 841,
                                   :height 1188.1241610738255}
                                  {:x1 101.58853912353516,
                                   :y1 901.9270324707031,
                                   :x2 735.2222061157227,
                                   :y2 916.9270324707031,
                                   :width 841,
                                   :height 1188.1241610738255}),
                          :page 5},
               :content {:text "This will do 99% of boards. Make sure the finer grid you choose is a nice even division of your standard 100 thou. This means 50, 25, 20, 10, or 5 thou. Don’t use anything else, you’ll regret it."},
               :properties {:color "yellow"}}
              {:id #uuid "64b2dd8e-2806-4903-8cd2-0213113ab233",
               :page 6,
               :position {:bounding {:x1 0,
                                     :y1 339.27082443237305,
                                     :x2 788.5440444946289,
                                     :y2 563.4504814147949,
                                     :width 841,
                                     :height 1188.1241610738255},
                          :rects ({:x1 0,
                                   :y1 339.27082443237305,
                                   :x2 0,
                                   :y2 357.6041679382324,
                                   :width 841,
                                   :height 1188.1241610738255}
                                  {:x1 0,
                                   :y1 356.2760429382324,
                                   :x2 0,
                                   :y2 374.6093559265137,
                                   :width 841,
                                   :height 1188.1241610738255}
                                  {:x1 705.5730590820312,
                                   :y1 514.5832939147949,
                                   :x2 783.7063598632812,
                                   :y2 529.5832939147949,
                                   :width 841,
                                   :height 1188.1241610738255}
                                  {:x1 101.58853912353516,
                                   :y1 531.5234184265137,
                                   :x2 788.5440444946289,
                                   :y2 546.5234184265137,
                                   :width 841,
                                   :height 1188.1241610738255}
                                  {:x1 101.58853912353516,
                                   :y1 548.4504814147949,
                                   :x2 644.5755386352539,
                                   :y2 563.4504814147949,
                                   :width 841,
                                   :height 1188.1241610738255}),
                          :page 6},
               :content {:text "As a general rule though, the bigger the track width, the better. Bigger tracks have lower DC resistance, lower inductance, can be easier and cheaper for the manufacturer to etch, and are easier to inspect and rework."},
               :properties {:color "yellow"}}
              {:id #uuid "64b2de17-555d-4193-9c53-c026e132e1ea",
               :page 6,
               :position {:bounding {:x1 0,
                                     :y1 611.3541564941406,
                                     :x2 765.3880996704102,
                                     :y2 847.0833129882812,
                                     :width 841,
                                     :height 1188.1241610738255},
                          :rects ({:x1 0,
                                   :y1 611.3541564941406,
                                   :x2 0,
                                   :y2 629.6875,
                                   :width 841,
                                   :height 1188.1241610738255}
                                  {:x1 101.58853912353516,
                                   :y1 815.1431884765625,
                                   :x2 765.3880996704102,
                                   :y2 830.1431884765625,
                                   :width 841,
                                   :height 1188.1241610738255}
                                  {:x1 101.58853912353516,
                                   :y1 832.0833129882812,
                                   :x2 395.67154693603516,
                                   :y2 847.0833129882812,
                                   :width 841,
                                   :height 1188.1241610738255}),
                          :page 6},
               :content {:text "As a start, you may like to use say 25 thou for signal tracks, 50 thou for power and ground tracks, and 10-15 thou for going between IC and component pads."},
               :properties {:color "yellow"}}
              {:id #uuid "64b2df03-16c0-4ab4-ae22-d1f07c969016",
               :page 6,
               :position {:bounding {:x1 0,
                                     :y1 764.4010314941406,
                                     :x2 783.2434463500977,
                                     :y2 1031.2239379882812,
                                     :width 841,
                                     :height 1188.1241610738255},
                          :rects ({:x1 0,
                                   :y1 764.4010314941406,
                                   :x2 0,
                                   :y2 782.734375,
                                   :width 841,
                                   :height 1188.1241610738255}
                                  {:x1 0,
                                   :y1 781.40625,
                                   :x2 0,
                                   :y2 799.7395629882812,
                                   :width 841,
                                   :height 1188.1241610738255}
                                  {:x1 101.58853912353516,
                                   :y1 982.3567504882812,
                                   :x2 783.2434463500977,
                                   :y2 997.3567504882812,
                                   :width 841,
                                   :height 1188.1241610738255}
                                  {:x1 101.58853912353516,
                                   :y1 999.296875,
                                   :x2 767.4719619750977,
                                   :y2 1014.296875,
                                   :width 841,
                                   :height 1188.1241610738255}
                                  {:x1 101.58853912353516,
                                   :y1 1016.2239379882812,
                                   :x2 655.7950820922852,
                                   :y2 1031.2239379882812,
                                   :width 841,
                                   :height 1188.1241610738255}),
                          :page 6},
               :content {:text "In practice, your track width will be dictated by the current flowing through it, and the maximum temperature rise of the track you are willing to tolerate. Remember that every track will have a certain amount of resistance, so the track will dissipate heat just like a resistor. The wider the track the lower the resistance"},
               :properties {:color "yellow"}}
              {:id #uuid "64b2dfd8-f4fa-4ee9-9997-1f571a996534",
               :page 7,
               :position {:bounding {:x1 0,
                                     :y1 577.3437347412109,
                                     :x2 788.2954483032227,
                                     :y2 897.8775787353516,
                                     :width 841,
                                     :height 1188.1241610738255},
                          :rects ({:x1 0,
                                   :y1 577.3437347412109,
                                   :x2 0,
                                   :y2 595.6770782470703,
                                   :width 841,
                                   :height 1188.1241610738255}
                                  {:x1 0,
                                   :y1 594.3489532470703,
                                   :x2 0,
                                   :y2 612.6822662353516,
                                   :width 841,
                                   :height 1188.1241610738255}
                                  {:x1 0,
                                   :y1 611.3541412353516,
                                   :x2 0,
                                   :y2 629.6874847412109,
                                   :width 841,
                                   :height 1188.1241610738255}
                                  {:x1 525.8001708984375,
                                   :y1 832.0833282470703,
                                   :x2 779.3173217773438,
                                   :y2 847.0833282470703,
                                   :width 841,
                                   :height 1188.1241610738255}
                                  {:x1 101.58853912353516,
                                   :y1 849.0103912353516,
                                   :x2 779.7223281860352,
                                   :y2 864.0103912353516,
                                   :width 841,
                                   :height 1188.1241610738255}
                                  {:x1 101.58853912353516,
                                   :y1 865.9505157470703,
                                   :x2 788.2954483032227,
                                   :y2 880.9505157470703,
                                   :width 841,
                                   :height 1188.1241610738255}
                                  {:x1 101.58853912353516,
                                   :y1 882.8775787353516,
                                   :x2 365.18018341064453,
                                   :y2 897.8775787353516,
                                   :width 841,
                                   :height 1188.1241610738255}),
                          :page 7},
               :content {:text "As a simple rule of thumb, the pad should be at least 1.8 times the diameter of the hole, or at least 0.5mm larger. This is to allow for alignment tolerances on the drill and the artwork on top and bottom layers. This ratio gets more important the smaller the pad and hole become, and is particularly relevant to vias."},
               :properties {:color "yellow"}}
              {:id #uuid "64b2e013-c119-41fe-bac0-5249c7d4c628",
               :page 7,
               :position {:bounding {:x1 0,
                                     :y1 696.3802032470703,
                                     :x2 752.5976867675781,
                                     :y2 989.9479064941406,
                                     :width 841,
                                     :height 1188.1241610738255},
                          :rects ({:x1 0,
                                   :y1 696.3802032470703,
                                   :x2 0,
                                   :y2 714.7135391235352,
                                   :width 841,
                                   :height 1188.1241610738255}
                                  {:x1 212.90078735351562,
                                   :y1 958.0208129882812,
                                   :x2 752.5976867675781,
                                   :y2 973.0208129882812,
                                   :width 841,
                                   :height 1188.1241610738255}
                                  {:x1 101.58853912353516,
                                   :y1 974.9479064941406,
                                   :x2 320.6429214477539,
                                   :y2 989.9479064941406,
                                   :width 841,
                                   :height 1188.1241610738255}),
                          :page 7},
               :content {:text "Pin 1 of the chip sould always be a different pad shape, usually rectangular, and with the same dimensions as the other pins."},
               :properties {:color "yellow"}}
              {:id #uuid "64b2e027-da23-4f65-9128-c43091024720",
               :page 8,
               :position {:bounding {:x1 0,
                                     :y1 33.17706298828125,
                                     :x2 584.3093948364258,
                                     :y2 111.5625,
                                     :width 841,
                                     :height 1188.1241610738255},
                          :rects ({:x1 0,
                                   :y1 33.17706298828125,
                                   :x2 0,
                                   :y2 51.510406494140625,
                                   :width 841,
                                   :height 1188.1241610738255}
                                  {:x1 101.58853912353516,
                                   :y1 72.21353149414062,
                                   :x2 510.2244644165039,
                                   :y2 87.21353149414062,
                                   :width 841,
                                   :height 1188.1241610738255}
                                  {:x1 101.58853912353516,
                                   :y1 96.5625,
                                   :x2 584.3093948364258,
                                   :y2 111.5625,
                                   :width 841,
                                   :height 1188.1241610738255}),
                          :page 8},
               :content {:text "Octagonal pads are seldom used, and should generally be avoided. As a general rule, use circular or oval pads unless you need to use rectangular."},
               :properties {:color "yellow"}}],
 :extra {:page 8}}
