{:highlights [{:id #uuid "6485934a-bf03-4d28-9d10-c82d55c11f2a",
               :page 2,
               :position {:bounding {:x1 220.61477661132812,
                                     :y1 186.7677001953125,
                                     :x2 319.3267517089844,
                                     :y2 197.72210693359375,
                                     :width 731,
                                     :height 1033.8354891815616},
                          :rects ({:x1 220.61477661132812,
                                   :y1 186.7677001953125,
                                   :x2 319.3267517089844,
                                   :y2 197.72210693359375,
                                   :width 731,
                                   :height 1033.8354891815616}),
                          :page 2},
               :content {:text "n of the RP2040 micro"},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
