{:highlights [{:id #uuid "64859427-a099-452f-a959-059f28013ee7",
               :page 13,
               :position {:bounding {:x1 60,
                                     :y1 73.5654296875,
                                     :x2 639,
                                     :y2 525.5654296875,
                                     :width 731,
                                     :height 1033.8354891815616},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1686475812984},
               :properties {:color "blue"}}
              {:id #uuid "6485944c-0392-4048-a04c-8f8875c81a1d",
               :page 14,
               :position {:bounding {:x1 141.209716796875,
                                     :y1 284.3022232055664,
                                     :x2 285.9707336425781,
                                     :y2 300.73389434814453,
                                     :width 731,
                                     :height 1033.8354891815616},
                          :rects ({:x1 141.209716796875,
                                   :y1 284.3022232055664,
                                   :x2 285.9707336425781,
                                   :y2 300.73389434814453,
                                   :width 731,
                                   :height 1033.8354891815616}),
                          :page 14},
               :content {:text "1.4.3. GPIO Functions"},
               :properties {:color "blue"}}],
 :extra {:page 13}}
