{:highlights [{:id #uuid "64859427-a099-452f-a959-059f28013ee7",
               :page 13,
               :position {:bounding {:x1 60,
                                     :y1 73.5654296875,
                                     :x2 639,
                                     :y2 525.5654296875,
                                     :width 731,
                                     :height 1033.8354891815616},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1686475812984},
               :properties {:color "yellow"}}
              {:id #uuid "6485944c-0392-4048-a04c-8f8875c81a1d",
               :page 14,
               :position {:bounding {:x1 141.209716796875,
                                     :y1 284.3022232055664,
                                     :x2 285.9707336425781,
                                     :y2 300.73389434814453,
                                     :width 731,
                                     :height 1033.8354891815616},
                          :rects ({:x1 141.209716796875,
                                   :y1 284.3022232055664,
                                   :x2 285.9707336425781,
                                   :y2 300.73389434814453,
                                   :width 731,
                                   :height 1033.8354891815616}),
                          :page 14},
               :content {:text "1.4.3. GPIO Functions"},
               :properties {:color "yellow"}}
              {:id #uuid "648de1de-901c-48d8-9923-039d68005d39",
               :page 13,
               :position {:bounding {:x1 0,
                                     :y1 350.2343444824219,
                                     :x2 737.154296875,
                                     :y2 911.0247344970703,
                                     :width 840,
                                     :height 1187.991533396049},
                          :rects ({:x1 0,
                                   :y1 350.2343444824219,
                                   :x2 0,
                                   :y2 369.60467529296875,
                                   :width 840,
                                   :height 1187.991533396049}
                                  {:x1 0,
                                   :y1 366.234130859375,
                                   :x2 0,
                                   :y2 385.6044616699219,
                                   :width 840,
                                   :height 1187.991533396049}
                                  {:x1 166.50506591796875,
                                   :y1 863.7270050048828,
                                   :x2 240.95291137695312,
                                   :y2 876.0535736083984,
                                   :width 840,
                                   :height 1187.991533396049}
                                  {:x1 265.32403564453125,
                                   :y1 863.7270050048828,
                                   :x2 737.154296875,
                                   :y2 876.0535736083984,
                                   :width 840,
                                   :height 1187.991533396049}
                                  {:x1 265.32403564453125,
                                   :y1 881.2125854492188,
                                   :x2 733.4940185546875,
                                   :y2 893.5391540527344,
                                   :width 840,
                                   :height 1187.991533396049}
                                  {:x1 265.32403564453125,
                                   :y1 898.6981658935547,
                                   :x2 323.0390625,
                                   :y2 911.0247344970703,
                                   :width 840,
                                   :height 1187.991533396049}),
                          :page 13},
               :content {:text "XIN and XOUT Connect a crystal to RP2040’s crystal oscillator. XIN can also be used as a single-ended CMOS clock input, with XOUT disconnected. The USB bootloader requires a 12MHz crystal or 12MHz clock input."},
               :properties {:color "yellow"}}
              {:id #uuid "648e23a3-d824-494c-9738-592629ba8035",
               :page 13,
               :position {:bounding {:x1 0,
                                     :y1 430.23326110839844,
                                     :x2 701.1264038085938,
                                     :y2 999.0097961425781,
                                     :width 840,
                                     :height 1187.991533396049},
                          :rects ({:x1 0,
                                   :y1 430.23326110839844,
                                   :x2 0,
                                   :y2 449.6035919189453,
                                   :width 840,
                                   :height 1187.991533396049}
                                  {:x1 0,
                                   :y1 446.23304748535156,
                                   :x2 0,
                                   :y2 465.60337829589844,
                                   :width 840,
                                   :height 1187.991533396049}
                                  {:x1 0,
                                   :y1 462.2328338623047,
                                   :x2 0,
                                   :y2 481.60316467285156,
                                   :width 840,
                                   :height 1187.991533396049}
                                  {:x1 166.50506591796875,
                                   :y1 969.1976318359375,
                                   :x2 225.27088928222656,
                                   :y2 981.5242309570312,
                                   :width 840,
                                   :height 1187.991533396049}
                                  {:x1 265.32403564453125,
                                   :y1 969.1976318359375,
                                   :x2 701.1264038085938,
                                   :y2 981.5242309570312,
                                   :width 840,
                                   :height 1187.991533396049}
                                  {:x1 166.50506591796875,
                                   :y1 986.6832275390625,
                                   :x2 201.47267150878906,
                                   :y2 999.0097961425781,
                                   :width 840,
                                   :height 1187.991533396049}
                                  {:x1 265.32403564453125,
                                   :y1 986.6832275390625,
                                   :x2 504.04937744140625,
                                   :y2 999.0097961425781,
                                   :width 840,
                                   :height 1187.991533396049}),
                          :page 13},
               :content {:text "SWCLK and SWDIO Access to the internal Serial Wire Debug multi-drop bus. Provides debug access to both processors, and can be used to download code."},
               :properties {:color "yellow"}}],
 :extra {:page 13}}
