{:highlights [{:id #uuid "64a48667-9859-4f2b-b456-97da6b4e14af",
               :page 1,
               :position {:bounding {:x1 161.12742614746094,
                                     :y1 542.1874847412109,
                                     :x2 161.1416778564453,
                                     :y2 555.5208282470703,
                                     :width 666,
                                     :height 861.8823529411764},
                          :rects ({:x1 161.12742614746094,
                                   :y1 542.1874847412109,
                                   :x2 161.1416778564453,
                                   :y2 555.5208282470703,
                                   :width 666,
                                   :height 861.8823529411764}),
                          :page 1},
               :content {:text nil},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
