{:highlights [{:id #uuid "64a48667-9859-4f2b-b456-97da6b4e14af",
               :page 1,
               :position {:bounding {:x1 161.12742614746094,
                                     :y1 542.1874847412109,
                                     :x2 161.1416778564453,
                                     :y2 555.5208282470703,
                                     :width 666,
                                     :height 861.8823529411764},
                          :rects ({:x1 161.12742614746094,
                                   :y1 542.1874847412109,
                                   :x2 161.1416778564453,
                                   :y2 555.5208282470703,
                                   :width 666,
                                   :height 861.8823529411764}),
                          :page 1},
               :content {:text nil},
               :properties {:color "yellow"}}
              {:id #uuid "64a48979-8f97-4269-ac6f-58ac8193e6af",
               :page 2,
               :position {:bounding {:x1 52,
                                     :y1 124.66665649414062,
                                     :x2 604,
                                     :y2 404.6666564941406,
                                     :width 666,
                                     :height 861.8823529411764},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1688504696149},
               :properties {:color "yellow"}}
              {:id #uuid "64a489c5-959a-4acf-8426-e4c9f7bf3342",
               :page 3,
               :position {:bounding {:x1 52,
                                     :y1 249,
                                     :x2 618,
                                     :y2 508,
                                     :width 666,
                                     :height 861.8823529411764},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1688504772251},
               :properties {:color "yellow"}}],
 :extra {:page 3}}
