:root {
  font-size: 18px !important;
}

a.tag[data-ref]{
  font-size: 18px !important;
}

/*Changing tags to have a blue button appearance and be nice and rounded */
.tag{background-color: #1109E6 !important;
   color: white !important;}
