:root {
  font-size: 18px !important;
  --bg-overlay: #77777777; /* Background solid color or gradient*/
}

a.tag[data-ref]{
  font-size: 18px !important;
  color: #268bd2 !important
}
/* Changing appearance of query tables */
th {font-size: 1.1rem; font-weight: bold; text-transform: capitalize}/* Wrapping text in query table */
td {white-space: pre-wrap !important}

/* Colors palette */
.white-theme,
.light-theme,
html[data-theme='light'] {
    --cp-accent: #2aa198;
    --cp-accent-opacity: #e1efe1;
    --cp-accent-opacity-semi: #99d4c7;

    --cp-white-light: #fefcf5;
    --cp-white: #fef9ec;
    --cp-white-dark: #f3efe2;
    --cp-white-darker: #efe9d7;
    --cp-dark: #d7d1c1;
    --cp-black: #333333;
    --cp-gray: #aaaaaa;

    --cp-red: #d3455b;
    --cp-orange: #ffa542;
    --cp-yellow: #f6c423;
    --cp-yellow-light: #ffe79a;
    --cp-green: #27ae9e;
    --cp-blue: #2c89d9;
    --cp-purple: #9c739c;
    --cp-cherry: #955f60;

    --mark-bg: var(--cp-yellow-light);
}
.dark-theme,
html[data-theme='dark'] {
    --cp-accent: #2aa198;
    --cp-accent-opacity: #e1efe1;
    --cp-accent-opacity-semi: #99d4c7;

    --cp-white-light: #04252f;
    --cp-white: #002b36;
    --cp-white-dark: #073642;
    --cp-white-darker: #041e25;
    --cp-dark: #586e75;
    --cp-black: #93a1a1;
    --cp-gray: #657b83;

    --cp-red: #d3455b;
    --cp-orange: #ffa542;
    --cp-yellow: #f6c423;
    --cp-yellow-light: #ffe79a;
    --cp-green: #27ae9e;
    --cp-blue: #2c89d9;
    --cp-purple: #9c739c;
    --cp-cherry: #955f60;

    --mark-bg: var(--cp-yellow-light);
}

/*
  Remap common Logseq variables to reuse each other
  and then remap to own small sized palette -`-cp-*`
*/
.white-theme,
.light-theme,
html[data-theme='light'],
.dark-theme,
html[data-theme='dark'] {
    --bg-shadow: rgba(0, 0, 0, 0.3) 0px 4px 10px 4px;

    --ls-right-sidebar-width: 500px;
    --ls-main-content-max-width: 1000px;

    --ls-page-text-size: 17px;
    --ct-text-size: 19px;
    --sb-text-size: 15px;

    --ls-page-title-size: 26px;
    --ct-page-title-font-family: var(--ls-font-family);
    --ls-title-text-color: var(--cp-accent);

    --ls-page-blockquote-bg-color: var(--cp-accent-opacity);
    --ls-page-blockquote-border-color: var(--cp-accent);

    --ls-block-bullet-color: var(--cp-accent);
    --ls-block-bullet-active-color: var(--cp-accent);
    --ls-block-bullet-border-color: var(--cp-accent-opacity-semi);
    --ls-bullet-closed-color: var(--ls-secondary-text-color);

    --ls-selection-background-color: var(--cp-accent-opacity);
    --ls-block-highlight-color: var(--cp-accent-opacity);

    --ls-a-chosen-bg: var(--ls-primary-background-color);

    --ls-page-properties-background-color: var(--ls-tertiary-background-color);
    --ls-block-properties-background-color: var(--ls-tertiary-background-color);

    --ls-page-checkbox-color: var(--cp-accent);
    --ls-page-checkbox-border-color: var(--cp-accent);

    --ls-table-tr-even-background-color: var(--ls-tertiary-background-color);

    --mark-color: var(--cp-black);
    --ls-page-inline-code-color: var(--cp-black);

    --marker-now-doing: var(--cp-green);
    --marker-later: var(--cp-orange);
    --marker-todo: var(--cp-red);
    --marker-waiting: var(--cp-yellow);

    --priority-a: var(--cp-red);
    --priority-b: var(--cp-orange);
    --priority-c: var(--cp-green);

    --ls-primary-text-color: var(--cp-black);
    --ls-primary-background-color: var(--cp-white);
    --ls-secondary-background-color: var(--cp-white-darker);
    --ls-tertiary-background-color: var(--cp-white-dark);
    --ls-quaternary-background-color: var(--cp-white);

    --color-level-4: var(--cp-white-light);
    --color-level-5: #ffffff;

    --link-hover-bg: var(--cp-accent-opacity);

    --ls-scrollbar-foreground-color: var(--cp-accent);
    --ls-scrollbar-background-color: var(--cp-dark);
    --ls-scrollbar-thumb-hover-color: var(--cp-red);

    --ls-menu-hover-color: var(--ls-secondary-background-color);

    --border: var(--cp-dark);
    --border-opacity: #d7d1c166;
    --shadow: var(--ls-secondary-background-color) 0px 2px 3px 0px;

    --tabs-height: 40px;

    font-family: 'Fira Sans', sans-serif;
}



/* ==========  BETTER-SIDEBAR - right sidebarshrinking panes w/ horizontal scroll v20221217==================*/

        :root {
            --sidebarItemMinWidth: 250px;
            --sidebarItemMaxWidth: 950px;
        }

        .cp__right-sidebar-inner.flex.flex-col.h-full {
            overflow: visible;
        }

        .sidebar-item-list {
            width: fit-content;
            height: 96vh !important;
            overflow: unset;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: flex-start;
            padding: 0 0 0 6px;
        }

        .cp__right-sidebar .sidebar-item {
            display: inline-block;
            align-self: flex-start;
            overflow-y: auto;
            min-height: 75px;
            height: calc(100% - 10px) !important;
            min-width: var(--sidebarItemMinWidth);
            max-width: var(--sidebarItemMaxWidth);
            width: 100%;
            margin: 0px;
            background-color: var(--ls-primary-background-color);
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
            border: 1px solid black;
            border-radius: 10px;
            resize: both;
            padding: 1.5rem 0.5rem;
        }

        .cp__right-sidebar-inner .resizer {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 6px;
            user-select: none;
            cursor: col-resize !important;
            z-index: 10;
        }

        .cp__right-sidebar .resizer:hover {
            background-color: var(--ph-highlight-strong);
        }

        .cp__right-sidebar-scrollable {
            overflow-y: hidden;
            overflow-x: auto;
            height: 100%;
        }

        /* sliding panes */
        .sidebar-item.folded {
            display: inline-block;
            overflow: hidden;
            margin: 0px 0 !important;
            padding: 5px;
            resize: none;
            width: 40px !important;
            min-width: 40px;
            writing-mode: vertical-LR;
        }

        .sidebar-item.folded .rotating-arrow.collapsed svg {
            transform: rotate(180deg) translate(3px, -1.2rem);
            transition: none;
        }

        .sidebar-item.folded .ml-1.font-medium {
            margin-top: 2rem;
            transition: none;
        }

        .cp__right-sidebar .sidebar-item.folded .close {
            transform: scale(.8) translate(-8px);
            transition: transform .1s;
        }

/* ======================================== end of BETTER-SIDEBAR =====*/
